#
# dotenv example file
#

AWS_REGION="us-east-2"                             # aws region to host your app
REPO_ORIGIN="git://github.com/cednore/trilium.git" # git repository who owns this infrastructure
BACKEND_BUCKET=""                                  # your backend bucket
BACKEND_LOCKTABLE=""                               # your backend lock table
BACKEND_REGION=""                                  # aws region where you backend is hosted

APP_NAME="Trilium Notes"                           # name of this app
APP="trilium"                                      # url friendly name of this app
STAGE="production"                                 # stage of deployment (e.g production, staging, etc)
DOMAIN="trilium.someone.me"                        # domain name to host this app
APP_INSTANCE_PUBLIC_KEY=""                         # ssh public key for the app instance
