name: Lint

on:
  push:
    paths:
      - '**.tf'
      - '**.hcl'
  pull_request:
    paths:
      - '**.tf'
      - '**.hcl'
  workflow_dispatch:

jobs:
  fmt:
    name: tffmt & hclfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.0
          terraform_wrapper: false
      - name: Setup Terragrunt
        uses: autero1/action-terragrunt@v1.1.1
        with:
          terragrunt_version: 0.38.12
      - name: Format check tf files
        run: terraform fmt -diff -check -recursive -no-color
      - name: Format check hcl files
        run: terragrunt hclfmt --terragrunt-check
  tflint:
    name: TFLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v1
        with:
          tflint_version: 0.40.1
      - name: Initialize
        run: tflint --init
      - name: Run TFLint
        run: tflint -f compact
