name: Security

on:
  push:
    paths:
      - '**.tf'
      - '**.hcl'
      - '.env.example'
      - 'modules/**'
  pull_request:
    paths:
      - '**.tf'
      - '**.hcl'
      - '.env.example'
      - 'modules/**'
  workflow_dispatch:

jobs:
  checkov:
    name: Checkov
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .
          quiet: true # display only failed checks
          framework: all
          soft_fail: false
          download_external_modules: true
          log_level: WARNING
          output_format: sarif
      - name: Upload SARIF result
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif
          category: checkov
  tfsec:
    name: tfsec
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run tfsec
        uses: aquasecurity/tfsec-sarif-action@v0.1.3
        with:
          sarif_file: tfsec.sarif
      - name: Check if results are empty
        run: "[[ '0' == $(jq '.runs[0].results | length' tfsec.sarif) ]] && true || false"
      - name: Upload SARIF result
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: tfsec.sarif
          category: tfsec
